body {
  color: red;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

#container {
  background-color: grey;
  width: 500px;
  height: 600px;
  border: coral solid 10px;
  margin-top: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

  overflow: hidden;
}

#streak {
  margin-right: 10vw;
  margin-bottom: 80vh;
}

#time {
  margin-left: 10vw;
  margin-bottom: 80vh;
}
